%title Recurring Event Parser
%link{"rel" => "stylesheet", "type" => "text/css", "href" => "style.css"}
  %div{"class" => "text bold spaced"}
  .title 
    Recoup
  %form{"action" => "/text", "method" => "post"}
    %input{ "type" => "text", "class" => "huge", "name" => "text" }

