%title Recurring Event Parser
%html
  %link{"rel" => "stylesheet", "type" => "text/css", "href" => "style.css"}
  %script{:type => "text/javascript", :src => "jquery.js"}
%body
  =js_link_helper("Here")
  %div{:class => "text bold spaced"}
  .title
    Recoup

  %form{"action" => "/text", "method" => "post"}
    %input{ "type" => "text", :class => "huge", "name" => "text", "value" => params[:text] }

  - if @result[:guessing]
    =warning_div(@result[:event])
    #hidden_div
      Please help us categorize the token:
      %span{:class => "warning"}
        =@result[:event]
      =category_link("Event")
      =category_link("Name")
      =category_link("Date")
      =category_link("Time")
      =category_link("Recurrency")
      =category_link("Ignore")

    %p
      %span{:class => "category"} Interrogation
      %span{:class => "category_text"}
        =text_for(:interrogation)
      
    %p
      %span{:class => "category"} Event
      %span{:class => "category_text"}
        =text_for(:event)

  %p
    %span{:class => "category"} Subject
    %span{:class => "category_text"}
      =subject_name

  %p
    %span{:class => "category"} Date
    %span{:class => "category_text"}
      =text_for(:day)

  %p
    %span{:class => "category"} Time
    %span{:class => "category_text"}
      =text_for(:time)

  %p
    %span{:class => "category_small"} Recurrency
    %span{:class => "category_text_small"}
      =text_for(:recurrency)

  %p
    %span{:class => "category_small"} Other

  .code
    %p
      - @others.each do |k,v|
        %span{:class => "code_key"}
        = k
        <span>=></span>
        = v.inspect
        %br

  %p
    %span{:class => "category_small"} Unmatched
    .code
      = @to_match.inspect.gsub('"','')
